account.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.example.com/demosoap/gen" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:sch="http://www.example.com/demosoap/gen" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.example.com/demosoap/gen">

  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.example.com/demosoap/gen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <!-- Get All Accounts -->
      <xs:element name="getAccountsRequest">
        <xs:complexType>
          <xs:sequence></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccountsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="accounts" type="tns:account"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Get Account by Number -->
      <xs:element name="getAccountRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="account" type="tns:account"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Create Account -->
      <xs:element name="createAccountRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="account" type="tns:account"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="account" type="tns:account"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Account Type -->
      <xs:complexType name="account">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="accountNumber" type="xs:string"/>
          <xs:element name="accountHolder" type="xs:string"/>
          <xs:element name="balance" type="xs:double"/>
          <xs:element name="accountType" type="xs:string"/>
          <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="getAccountsRequest">
    <wsdl:part element="tns:getAccountsRequest" name="getAccountsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAccountsResponse">
    <wsdl:part element="tns:getAccountsResponse" name="getAccountsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAccountRequest">
    <wsdl:part element="tns:getAccountRequest" name="getAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="getAccountResponse">
    <wsdl:part element="tns:getAccountResponse" name="getAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="createAccountRequest">
    <wsdl:part element="tns:createAccountRequest" name="createAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <wsdl:part element="tns:createAccountResponse" name="createAccountResponse"/>
  </wsdl:message>

  <!-- Port Type -->
  <wsdl:portType name="accountPort">
    <wsdl:operation name="getAccounts">
      <wsdl:input message="tns:getAccountsRequest" name="getAccountsRequest"/>
      <wsdl:output message="tns:getAccountsResponse" name="getAccountsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAccount">
      <wsdl:input message="tns:getAccountRequest" name="getAccountRequest"/>
      <wsdl:output message="tns:getAccountResponse" name="getAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <wsdl:input message="tns:createAccountRequest" name="createAccountRequest"/>
      <wsdl:output message="tns:createAccountResponse" name="createAccountResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Binding -->
  <wsdl:binding name="accountPortSoap11" type="tns:accountPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccounts">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAccountsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccount">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAccountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction=""/>
      <wsdl:input name="createAccountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service -->
  <wsdl:service name="accountPortService">
    <wsdl:port binding="tns:accountPortSoap11" name="accountPortSoap11">
      <soap:address location="http://localhost:8888/ws"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>